= render 'modal_advanced_info'
= render 'modal_introduction'
= render 'modal_thickness'
= render 'alert_error'
= form_tag("", method: "post", novalidate: true, id: 'pdf-generator') do
  .row
    .col-sm-0.col-md-0.col-lg-1
    .col-sm-6.col-md-6.col-lg-5
      = render 'panel_dimensions'
      = render 'panel_advanced'
    .col-sm-6.col-md-6.col-lg-5
      = render 'panel_units'
      = render 'panel_layout'
    .col-sm-0.col-md-0.col-lg-1
  .row
    .col-sm-0.col-md-0.col-lg-1
    .col-sm-12.col-md-12.col-lg-10
      = render 'panel_actions'
    .col-sm-0.col-md-0.col-lg-1
