<%= render 'modal_advanced_info' %>
<%= render 'modal_introduction' %>
<%= render 'modal_thickness' %>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <%- if @error %>
        <div class="alert alert-danger">
          Whoops, <%= @error %> :(
        </div>
    <%- end %>
  </div>
  <div class="col-sm-2"></div>
</div>
<div class="row" id="one-time-notice" style="display: none";>
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="alert alert-info small">
      <i id="dont-show-notice" class="pull-right fa fa-times fa-lg"></i>
      <p>Update Nov 23, 2014: Read the blog post documenting the <strong><a href="http://kiguino.moos.io/2014/11/21/announcing-laser-cutter-makeabox-dot-io.html?ref=reddit">backstory</a></strong> on this open source project.</p>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>

<%= form_tag("", method: "post", novalidate: true, id: 'pdf-generator') do %>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
          <i id="introduction" class="pull-right fa fa-question-circle fa-lg"></i>
            <h4 class="panel-title">Units</h4>
          </div>
          <div class="panel-body">

            <p>
              <%= hidden_field_tag("units", @config.units) %>
              <%= label_tag("config[units]_in", "Inches") %>
              <%= radio_button_tag("config[units]", "in", @config.units.eql?('in')) %>
            </p>

            <p>
              <%= label_tag("config[units]_mm", "Millimeters") %>
              <%= radio_button_tag("config[units]", "mm", @config.units.eql?('mm')) %>
            </p>
          </div>
        </div>

        <div class="panel panel-default box-dimensions">
          <div class="panel-heading">
            <h4 class="panel-title">Box Dimensions</h4>
          </div>
          <div class="panel-body">
            <p class="small">Note: all dimensions are internal (inside of the box).</p>
            <%= raw(config_form_element_group(%w(width height depth), @config, true, 1)) %>
            <hr/>
            <%= raw(config_form_element_group(%w(thickness), @config, true, 4)) %>
            <dl class="dl-horizontal">
              <dt></dt>
              <dd class="small">of the material that's being cut. &nbsp;
                <i class="fa fa-info-circle fa-lg" id="thickness-info"></i>
              </dd>
            </dl>
          </div>
        </div>

        <div class="text-center">
          <%= submit_tag("Make My Pretty Box!", tabindex: 5, id: 'make-box', class: 'btn btn-lg btn-primary active btn-pink') %>
        </div>
        <div class="spacer-20"></div>
      </div>

      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <i id="advanced-info" class="pull-right fa fa-info-circle fa-lg"></i>
            <h4 class="panel-title">Advanced Settings</h4>
          </div>
          <div class="panel-body">
            <%= raw(config_form_element_group(%w(notch kerf margin padding stroke), @config)) %>
            <p class="form-label-and-select">
              <%= label_tag(:page_size, "Page Size") %>&nbsp;<%= select_tag('config[page_size]',
                                                                            options_for_select(@page_size_options,
                                                                                               @page_size_options.find { |a| a.first.include?(@config.page_size || "") })) %>
            </p>

            <div id="page-settings">
              <p>
                <%= label_tag(:page_layout_portrait, "Portrait") %>
                <%= radio_button_tag('config[page_layout]', "portrait", @config.page_layout == 'portrait') %>
              </p>

              <p>
                <%= label_tag(:page_layout_landscape, "Landscape") %>
                <%= radio_button_tag('config[page_layout]', "landscape", @config.page_layout == 'landscape') %>
              </p>
            </div>
            <p>
              <%= label_tag(:metadata, "Box Info") %>&nbsp;<%= check_box_tag(:metadata, 1, @config['metadata']) %>
            </p>
          </div>
          <div class="panel-footer small">
            When checked, information about your box will be included in the PDF for your reference.
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Use Cookies to Save Settings</h4>
          </div>
          <div class="panel-body">
            <div class="btn-group btn-group-lg" id="save-clear">
              <button type="button" class="btn btn-default" id="save">Save</button>
              <button type="button" class="btn btn-default" id="restore">Restore</button>
              <button type="button" class="btn btn-default" id="clear">Clear</button>
            </div>
          </div>
        </div>


      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="spacer-20"></div>

    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-2"></div>
    </div>

<% end %>

