<%= render 'modal_advanced_info' %>
<%= render 'modal_introduction' %>
<%= render 'modal_thickness' %>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <%- if @error %>
    <div class="alert alert-danger">
      Whoops, <%= @error %> :(
    </div>
    <%- end %>
  </div>
  <div class="col-sm-1"></div>
</div>

<%= form_tag("", method: "post", novalidate: true, id: 'pdf-generator') do %>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <div class="panel">
      <div class="panel-heading">
        <i id="introduction" class="pull-right fa fa-question-circle fa-lg"></i>
        <h1 class="panel-title">Units</h1>
      </div>
      <div class="panel-body measurements">
        <%= hidden_field_tag('units', @config.units) %>
        <div class="mkbx-radio">
          <%= radio_button_tag('config[units]', 'in', @config.units.eql?('in')) %>
        </div>
        <%= label_tag('config[units]_in', 'Inches') %>

        <div class="mkbx-radio">
          <%= radio_button_tag('config[units]', 'mm', @config.units.eql?('mm')) %>
        </div>
        <%= label_tag('config[units]_mm', 'Millimeters') %>
      </div>
    </div>

    <div class="panel box-dimensions">
      <div class="panel-heading">
        <i class="pull-right fa fa-info-circle fa-lg" id="thickness-info"></i>
        <h1 class="panel-title">Box Dimensions</h1>
      </div>
      <div class="panel-body">
        <p class="small">Note: all dimensions are internal (inside of the box).</p>
        <%= raw(config_form_element_group(%w(width height depth), @config, true, 1)) %>
        <hr/>
        <%= raw(config_form_element_group(%w(thickness), @config, true, 4)) %>
        <dl class="dl-horizontal">
          <dt></dt>
          <dd class="small">This is the thickness of the material that's being cut.
          </dd>
        </dl>
      </div>
    </div>

    <div class="spacer-50"></div>

    <div class="text-center">
      <%= submit_tag("Make My Pretty Box!", tabindex: 5, id: 'make-box', class: 'btn btn-lg btn-main active btn-pink') %>
    </div>
  </div>

  <div class="col-sm-5">
    <div class="panel ">
      <div class="panel-heading">
        <i id="advanced-info" class="pull-right fa fa-info-circle fa-lg"></i>
        <h1 class="panel-title">Advanced Settings</h1>
      </div>
      <div class="panel-body">
        <%= raw(config_form_element_group(%w(notch kerf margin padding stroke), @config)) %>

        <div class="panel-footer form-label-and-select">
          <%= label_tag(:page_size, "Page Size") %>
          <small>Note, that selecting anything except "auto" <strong> page size</strong> may split your design into multiple pages, but probably not the way you want it :)</small>
          <%= select_tag('config[page_size]', options_for_select(@page_size_options, @page_size_options.find { |a| a.first.include?(@config.page_size || "") })) %>
        </div>

        <div id="page-settings">
          <p>
            <%= label_tag(:page_layout_portrait, "Portrait") %>
            <%= radio_button_tag('config[page_layout]', "portrait", @config.page_layout == 'portrait') %>
          </p>

          <p>
            <%= label_tag(:page_layout_landscape, "Landscape") %>
            <%= radio_button_tag('config[page_layout]', "landscape", @config.page_layout == 'landscape') %>
          </p>
        </div>
        <div class="panel-footer form-label-and-select">
          <%= label_tag(:metadata, "Include Dimensions?") %>
          <div class="mkbx-checkbox">
            <%= check_box_tag(:metadata, 1, @config['metadata'], class: 'mkbx-checkbox') %>
          </div>
          <small>When checked, information about your box will be included in the PDF for your reference.</small>
        </div>

      </div>
    </div>

    <div class="panel ">
      <div class="panel-heading">
        <h1 class="panel-title">Save Settings for Later&hellip;</h1>
      </div>
      <div class="panel-body">
        <div id="save-status" class="pull-right">Status: N/A</div>
        <div class="btn-group btn-group-lg" id="save-clear">
          <button type="button" class="btn btn-default" id="save">Save</button>
          <button type="button" class="btn btn-default" id="restore">Recall </button>
          <button type="button" class="btn btn-default" id="clear">Clear</button>
        </div>
      </div>
    </div>


  </div>
  <div class="col-sm-1"></div>
</div>

<div class="spacer-20"></div>

<div class="row">
  <div class="col-sm-12">
    <div class="spacer-50"></div>
  </div>
</div>

<div class="row" id="one-time-notice" style="display: none" ;>
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="alert alert-warning small">
      <i class="dont-show-notice pull-right fa fa-times fa-lg"></i>
      <p>Thanks for using MakeABox! After a long lull in development, and a week-long downtime (whoops!) this site
        is back online with a vengeance. It's running in a new cloud, with automated deployment, yada yada, and it's
        ready
        to make you some boxes.</p>
      </div>
      <div class="alert alert-success small">
        <i class="dont-show-notice pull-right fa fa-times fa-lg"></i>
        <p>If you are interested in the back-story of this project, please check out the
          <strong><a href="http://kiguino.moos.io/2014/11/21/announcing-laser-cutter-makeabox-dot-io.html?ref=reddit">blog
            post announcing its
            release</a></strong>. Please leave comments with your suggestions, love, hate, or just some feedback!</p>
          </div>
        </div>
        <div class="col-sm-1"></div>
      </div>


      <div class="row">
        <div class="col-sm-12">
          <div class="spacer-20"></div>
        </div>
      </div>

      <% end %>
