= render 'home/modals/advanced_info'
= render 'home/modals/introduction'
= render 'home/modals/thickness'

#action-status.ui-widget-content.ui-corner-all

= render 'home/partials/alert'

.spacer-10

= form_tag('/', method: 'post', novalidate: true, remote: true, id: 'pdf-generator') do
  .row
    .col-sm-0.col-md-0.col-lg-0.col-xl-1
    .col-sm-12.col-md-6.col-lg-4.col-xl-3.d-flex
      = render 'home/panels/units'
    .col-sm-12.col-md-6.col-lg-4.col-xl-4.d-flex
      = render 'home/panels/dimensions'
    .col-sm-12.col-md-6.col-lg-4.col-xl-3.d-flex
      = render 'home/panels/advanced'
    .col-sm-0.col-md-0.col-lg-0.col-xl-1

.spacer-10

.row
  .col-sm-0.col-md-0.col-lg-0.col-xl-1
  .col-sm-12.col-md-6.col-lg-4.col-xl-3.d-flex.w-100.ad-panel
    = render 'home/panels/refine'
  .col-sm-12.col-md-6.col-lg-4.col-xl-4.d-flex
    = render 'home/panels/paypal-donation'
  .col-sm-12.col-md-6.col-lg-4.col-xl-3.d-flex.w-100.ad-panel.second-refine
    = render 'home/panels/refine'
  .col-sm-0.col-md-0.col-lg-0.col-xl-1

.spacer-10

.row
  .col-sm-0.col-md-1.col-lg-1.col-xl-2
  .col-sm-12.col-md-10.col-lg-10.col-xl-8
    = render 'shared/comments'
  .col-sm-0.col-md-1.col-lg-1.col-xl-2

.spacer-10
