= render 'home/modals/advanced_info'
= render 'home/modals/introduction'
= render 'home/modals/thickness'

#action-status.ui-widget-content.ui-corner-all

= render 'home/partials/alert'

.row#ad-content-adsense
  .col-sm-0.col-md-0.col-lg-2.col-xl-3
  .col-sm-12.col-md-12.col-lg-8.col-xl-6.text-center.d-flex.align-content-center.w-100
    = render 'home/partials/adsense'
  .col-sm-0.col-md-0.col-lg-2.col-xl-3

.spacer-50

= form_tag('/', method: 'post', novalidate: true, remote: true, id: 'pdf-generator') do
  .row
    .col-sm-0.col-md-0.col-lg-0.col-xl-1
    .col-sm-12.col-md-6.col-lg-4.col-xl-3.d-flex
      = render 'home/panels/units'
    .col-sm-12.col-md-6.col-lg-4.col-xl-4.d-flex
      = render 'home/panels/dimensions'
    .col-sm-12.col-md-12.col-lg-4.col-xl-3.d-flex
      = render 'home/panels/advanced'
    .col-sm-0.col-md-0.col-lg-0.col-xl-1

.spacer-50
.row
  .col-sm-0.col-md-0.col-lg-0.col-xl-1
  .col-sm-12.col-md-6.col-lg-3.col-xl-3.ad-panel
    = render 'home/panels/paypal-donation'
  .col-sm-12.col-md-6.col-lg-6.col-xl-4.d-flex.align-content-center
    .ad-panel
      = render 'home/panels/refine'
  .col-sm-12.col-md-6.col-lg-3.col-xl-3.ad-panel#second-paypal
    = render 'home/panels/paypal-donation'
  .col-sm-0.col-md-0.col-lg-0.col-xl-1

.spacer-10

.row
  .col-sm-0.col-md-1.col-lg-3.col-xl-3
  .col-sm-12.col-md-10.col-lg-6.col-xl-6.d-flex
    #disqus_thread.d-flex
      = render 'home/partials/disqus_js'
  .col-sm-0.col-md-1.col-lg-3.col-xl-3
