!!!
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/html"}
  = render 'shared/head'
  %body
    .container
      = render '/shared/nav_bar_logo'
      = yield
  %footer
    .container
      .spacer-20
      = render 'shared/google'
      = render 'shared/disqus'
      .spacer-20
      = render 'shared/footer'
      .spacer-50
