!!!
%html{lang: 'en'}
  = render 'shared/head'
  %body
    %nav.navbar.navbar-dark.bg-dark.d-flex.fixed-top.mb-5
      %a.navbar-brand{href: '/'}
        = image_tag('logo-with-gray.png', class: 'logo-image')
        %h1.logo
          Make A Box
        %span.version
          = "v#{Makeabox::VERSION}"
    .container-fluid.mt-5.pt-5
      = yield
  %footer
    .container-fluid
      .spacer-20
      = render 'shared/footer'
